
body{
    margin: 100px;
}

.wrapper{
  height: 150px;
  background-color: lightblue;
  margin: auto;
  width: 95%
}

.box{
    margin: 50px 55px;
    height: 50px;
    width: 50px;
    float: left;
    background-color: green;
}

.selected{
    background-color: white;
}

.clicked{
    background-color: white;
}

.boxes{
    width: 800px;
    margin: auto;
}

/*
.rate {
  background-color: white;
}*/
